@model ApiSanaris.Models.Hospital

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FFundacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FFundacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NEmpleados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NEmpleados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPisos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPisos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NHabitaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NHabitaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
